<h1>La liste des étudiants </h1>
<table>
    <tr>
        <th>NSC</th>
        <th>EMAIL</th>
        <th>Classe</th>
    </tr>
    {% for i in s %}
    <tr>
        <td>{{i.nsc}}</td>
        <td>{{i.email}}</td>
        <td>{{i.idClassroom.name}}</td>
    <tr>
    {% endfor%}

    </table>    