{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des artist</h1>
    <table border=2>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for euvre in euvres %}
                <tr>
                    <td>{{ euvre.title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}