{% extends 'base.html.twig' %}

{% block title %}Liste des restaurants{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                    <button class="btn btn-success">Créer un restaurant</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
    {% set flashMessages = app.flashes('success') %}

    {% if flashMessages is not empty %}
        <div class="alert alert-success">
            {{ flashMessages[0] }}
        </div>
    {% endif %}
{% endblock %}